@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-checkbox-checked .ant-checkbox-inner ,:where(.css-dev-only-do-not-override-14wwjjs).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #0062A0 !important;
  border:1px solid #0062A0;
  font-size: 12px;
  color: #fff;
  border-radius: 8px !important;
}
.header{
  width: 40px !important;
}

.my-opt-input input::placeholder{
  color: red;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-avatar .ant-avatar-string {
  width: 45px;
  height: 45px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  color:#828282;
  border:none
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-checkbox .ant-checkbox-inner,:where(.css-dev-only-do-not-override-14wwjjs).ant-radio-wrapper .ant-radio-inner {
  background-color: #DBDBDB;
  width: 26px;
  height: 26px;
  border-radius: 8px;
}
