@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:where(.css-dev-only-do-not-override-14wwjjs).ant-checkbox-checked .ant-checkbox-inner ,:where(.css-dev-only-do-not-override-14wwjjs).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #0062A0 !important;
  border:1px solid #0062A0;
  font-size: 12px;
  color: #fff;
  border-radius: 8px !important;
}
.header{
  width: 40px !important;
}

.my-opt-input input::placeholder{
  color: red;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-avatar .ant-avatar-string {
  width: 45px;
  height: 45px;
}

:where(.css-dev-only-do-not-override-14wwjjs).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  color:#828282;
  border:none
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-checkbox .ant-checkbox-inner,:where(.css-dev-only-do-not-override-14wwjjs).ant-radio-wrapper .ant-radio-inner {
  background-color: #DBDBDB;
  width: 26px;
  height: 26px;
  border-radius: 8px;
}

/* .PhoneInputCountry{
  background-color: #EDEDED;
  width: 50px;
  height: 32px;
  border-radius: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
} */
/* 
:where(.css-dev-only-do-not-override-14wwjjs).ant-radio-wrapper .ant-radio-inner::after {
  content:'✔' !important;
  width: 12px;
  height: 10px;
  background-color: #fff;

}
.ant-radio-inner,
.ant-radio-inner:after {
  border-radius: 0 !important;
}
.ant-radio-inner:after {
  border: none !important;
} */


.topUp{
  width: 161px;
  height: 164px;
  background-color: red;
}
.topUpItem{
  position: absolute;
  left: 13px;
  top: 77px;
  width: 144px;
 
}

/* swiper custom style */
.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: "absolute";
  top: 246px;
  left: 16px;
  z-index: 1;
  width: 303px !important;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0; 
   width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  width: 303px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  
}

